html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: calc(100% - 160px);
    width: 75%;
    display: inline-block;
}

#info {
    height: calc(100% - 160px);
    display: inline-block;
    width: 25%;
    float: right;
    overflow: auto;
}

#submitter {
    position: absolute;
    right: 0;
    top: 0;
}
#chart {
    width: 100%;
    display: block;

}